[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: inherit;
}
* {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
div.ReactTable {
  background-color: white;
  font-family: Poppins;
  border: none;
  .rt-table {
    .-header {
      background-color: #f1f3f9;
      box-shadow: none;
      .rt-tr {
        padding: 10px 0px 12px 10px;
        .rt-th {
          border: none;
          color: #8898aa;
          font-weight: 600;
          font-size: 11px;
          text-align: left;
        }
      }
    }
    .rt-tbody {
      .rt-tr-group {
        .rt-tr {
          border: none;
          .rt-td {
            border: none;
            padding: 13px 0 13px 13px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
body {
  font-family: Poppins;
}
.text-center {
  text-align: center !important;
}

.pagination-bottom {
  padding: 20px 20px 0 0 !important;
  .-pagination {
    border: none !important;
    box-shadow: none !important;
    justify-content: flex-end !important;
    .-previous,
    .-next {
      flex: none !important;
      button {
        background-color: #226763;
        color: white;
      }
    }
    .-next {
      width: 60px !important;
    }
    .-center {
      width: 170px !important;
      flex: none !important;
      input {
        width: 50px !important;
        text-align: center;
      }
    }
  }
}
input:-internal-autofill-selected {
  -webkit-appearance: none !important;
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}
